@charset "utf-8";
/* CSS Document */
/*for all*/
*{
	margin:0px;
	padding:0px;
}
body{
	background:#e6e6e6;
	font:14px Tahoma,Helvetica,Arial,"宋体",sans-serif;
	line-height:1.5;
}
a,a:link,a:visited{
	color:#000;
	text-decoration:none;
}
a:hover{
	color:blue;
}
.clear{
	clear:both;
}
li{
	list-style:none;
}
#page{
	margin:0 auto;
	width:1100px;
}
h2{
	font-size: 16px;
	font-weight: bold;
	border-bottom:1px #000 solid;
}
h3{
	font-size: 16px;
	font-weight: bold;
	text-align:center;
}
/*header*/
#header{
	height:40px;
	margin:2px 0;
	background:#f3dfba;
	text-align:center;
	line-height:40px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	border-radius: 4px;
}
#header h1{
	font-size:16px;
	width:150px;
	float:left;
	border-radius: 4px;
}
#header ul{
	width:755px;
	float:left;
}
#header ul li{
	float:left;
	width:150px;
	border-left:solid 1px #999;
}
#search{
	width:170px;
	height:32px;
	float:left;
	border-left:1px solid #999;
	padding:8px 0 0 24px;
}
#search input{
	float:left;
	height:23px;
	border:none;
	background:#fff;
}
#search_button{
	width:40px;
	cursor:pointer;
}
#search_text{
	width:100px;
}
/*content begin*/
#content{
	width:1100px;
	margin-top:10px;
}
#left{
	float:left;
	width:150px;
	text-align:center;
	margin-right:10px;
}
#main{
	width:735px;
	float:left;
}
#right{
	float:left;
	width:195px;
	margin-left:10px;
}

/*box1*/
#information{
	background:#fff;
	display:block;
	padding:20px 20px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	border-radius: 4px;
}
#information ul{
	margin-top:2px;
	line-height:2.0;
	border-top:1px #000 solid;
	padding-top:5px;
}
/*box2*/
#words{
	height:201px;
	background:#fff;
	display:block;
	padding:20px 20px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	border-radius: 4px;
}
#words p{
	margin-top:2px;
	line-height:2.0;
	border-top:1px #000 solid;
	padding-top:5px;
}
#words h2{
	text-align:center;
}
/*box3 4 5*/
#tags,#new_article,#friends{
	margin-top:10px;
	background:#fff;
	display:block;
	padding:10px 20px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	border-radius: 4px;
	min-height:250px;
	overflow:hidden;
}
#tags ul,#friends ul,#new_article ul,#list ul{
	margin-top:2px;
	line-height:2.0;
	border-top:1px #000 solid;
	padding-top:5px;
}
#new_article ul span{
	float:right;
	padding-right:10px;
}
#friends{
	text-align:center;
}
/*footer*/
#footer{
	margin:5px 0;
	padding-top:15px;
	height:50px;
	text-align:center;
	color:#666;
}
#footer a:link,#footer a:visited{
	color:#666;
}


/**for list*/
#list{
	min-height:501px;
	background:#fff;
	display:block;
	padding:10px 20px;
	box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
	border-radius: 4px;
}
/*for add article*/
.new_writting{
   margin-top:10px;
}
.before_info{
	float:left;
	display:inline;
	width:60px;
	text-align:right;
}
#con_submit{
	margin:3px auto;
	height:30px;
	width:100px;
	}
.con_button{
	float:left;
	text-align:center;
    cursor:pointer;
	height:30px;
	width:50px
}
