<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}- {{ site.title }}</title>
    {% include meta-link.md %}
</head>
<body>
    <div id="container">
        {% include header.md %}
            <div id="content" style="padding:10px 20px">
			<h5>{{ page.title }}</h5>

				{{ content }}

				<ol class="pager">
					{% if page.previous %}
					<li class="previous"><a href="{{ page.previous.url }}">上一篇：{{ page.previous.title }}</a></li>
					{% else %}
					<li class="previous disabled">
					<a href="#">上一篇：没有了</a>
					</li>
					{% endif %}
					{% if page.next %}
					<li class="next">
					<a href="{{ page.next.url }}">下一篇：{{ page.next.title }}</a>
					</li>
					{% else %}
					<li class="next disabled">
					<a href="#">下一篇：没有了</a>
					</li>
					{% endif %}
				</ol>
           </div>
   </div>
   	  {% include footer.md %}
</body>
</html>
